@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loginButton .green-text {
  background-color: rgba(70, 163, 88, 1);
}

/* .sideImg {
  width: 135px;
  height: 135px;
  left: 868px;
  top: 388px;
  position: absolute;
} */
